<style>
    div.conainer {
        text-align: center;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto
    }

</style>




<br/><br/>
<div class = "conainer">

    <div class = "row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <div class="card">
            <img class="card-img-top" src="https://jira.secondlife.com/secure/attachment/40382/Generic_Person_0614_128x128.png?" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title ">Person A</h4>
                <p class="card-text">
                 M | 18 | 5 miles| 6'1'' | Christian
                <br/>
                 Liberal | SWE (Snapchat) | CA
                 </p>
                <a href="#" class="fa fa-heart-o"> </a>
                <a href="#" class=" fa fa-trash-o"> </a>
            </div>
            </div>
        </div>
            <div class="col-xs-4"></div>
    </div>
<br/><br/>
    <div class = "row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <div class="card">
            <img class="card-img-top" src="https://jira.secondlife.com/secure/attachment/40382/Generic_Person_0614_128x128.png?" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Person B</h4>
                <p class="card-text">
                 F | 31 | 15 miles | 5'10'' | Christian
                 <br/>
                 Conservative | SWE (Google) | CA
                 </p>
                <a href="#" class="fa fa-heart-o"> </a>
                <a href="#" class=" fa fa-trash-o"> </a>
            </div>
            </div>
        </div>
            <div class="col-xs-4"></div>
    </div>
<br/>


<!-- {{{age}}} | {{{gender}}} | {{{distance}}} | {{{height}}} | {{{religion}}}
<br/>
{{{politics}}} | {{{job}}} | {{{hometown}}} -->




        <div class = "row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <div class="card">
            <img class="card-img-top" src="https://jira.secondlife.com/secure/attachment/40382/Generic_Person_0614_128x128.png?" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Person A</h4>
                <p class="card-text">
                  M | 30 | 30 miles | 5'11' | Chrisitan
                 <br/>
                 Libertarian | SWE (Citadel) | CA
                 </p>
                <a href="#" class="fa fa-heart-o"> </a>
                <a href="#" class=" fa fa-trash-o"> </a>
            </div>
            </div>
        </div>
            <div class="col-xs-4"></div>
    </div>
<br/><br/>


</div>

